.hidden {}

.navigation {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #000000 1%, #203a43 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 1%, #203a43 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 1%, #203a43 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    .brand-name {
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        margin-left: 1rem;
    }
    .profilePictureNavbar {
        padding: 6px;
        .ProfilePicture {
            width: 80px;
            height: 80px;
            border-radius: 20%;
            padding: 10px;
        }
    }
    .navigation-menu {
        margin-left: auto;
    }
    .navigation-menu ul {
        display: flex;
        padding: 0;
        margin-bottom: 0;
    }
    .navigation-menu li {
        // removes default disc bullet for li tags and applies margin to left & right side
        list-style-type: none;
        margin: 0 1rem;
    }
    .navigation-menu li a {
        // increases the surface area of the anchor tag to span more than just the anchor text
        text-decoration: none;
        display: block;
        width: 100%;
        color: white;
    }
    .hamburger {
        // removes default border on button element
        border: 0;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: #283b8b;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        // positions the icon to the right and center aligns it vertically
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
    }
    .hamburger:hover {
        background-color: #2642af;
    }
    @media screen and (max-width: 768px) {
        .hamburger {
            display: block;
        }
        .navigation-menu ul {
            // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
            position: absolute;
            top: 60px;
            left: 0;
            // stacks the li tags vertically 
            flex-direction: column;
            // makes menu span full height and width
            width: 100%;
            height: calc(100vh - 77px);
            background-color: white;
            border-top: 1px solid black;
        }
        .navigation-menu li {
            // centers link text and strips off margin
            text-align: center;
            margin: 0;
        }
        .navigation-menu li a {
            color: black;
            // increases the surface area of the anchor tag to span the full width of the menu
            width: 100%;
            padding: 1.5rem 0;
        }
        .navigation-menu li:hover {
            background-color: #eee;
        }
        .navigation-menu ul {
            /* previous styles */
            display: none;
        }
        .navigation-menu.expanded ul {
            display: block;
        }
    }
}

.WorkExperience {
    float: left;
    padding: 5rem;
    .card {
        background-color: transparent !important;
        border: none;
        .workImages {
            height: 40px;
        }
        .phpImage {
            width: 60px;
            height: 40px;
        }
    }
}

.header-div {
    display: flex;
    margin-top: 5% !important;
    .img-right {
        width: 210px;
        float: right;
        margin-top: 30px;
        border-radius: 5%;
        -webkit-box-shadow: 12px 12px 17px 1px rgba(0, 0, 0, 0.69);
        box-shadow: 12px 12px 17px 1px rgba(0, 0, 0, 0.69)
    }
    .h1Header {
        margin-top: 150px;
        max-width: 80%;
    }
}

.middle-div {
    display: flex;
    margin-top: 5% !important;
    .svgCol .svg {
        margin-top: 100px !important;
    }
    .informationTab {
        color: black;
        .carousel-item {
            border-radius: 20%;
            padding-left: 30px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: khaki;
        }
        p {
            font-size: 0.8rem;
        }
        h3 {
            font-size: 1.3rem
        }
    }
}

@media only screen and (max-width: 991px) {
    .header-div {
        display: block;
    }
    .middle-div {
        display: block;
        .svgCol {
            display: none !important;
        }
    }
}

.img-right {
    margin-right: 4rem;
}

@media only screen and (min-width: 992px) {
    .img-right {
        margin-right: 9rem;
    }
}